<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.latlongbearing">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
       />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- for android os version 12 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
         />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@drawable/compass"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.LatLongBearing">



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".PreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--
         <receiver android:name=".GpsLocationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".CameraXActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BearingToNorthProvider"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".LandingPage"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PictureActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaptureImage"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>